<form (ngSubmit)="onSubmit(vehicleFrm)" [formGroup]="vehicleFrm">

  <h2>{{data.modalTitle}}</h2>


  <!-- <img [src]="imgURL" height="200" *ngIf="imgURL"> -->
  <img src="../../../assets/IMG_2136.JPG" height="200">
  <input formControlName="imagePath" #file type="file" accept='image/*' (change)="preview(file.files)" />

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Make</mat-label>
      <input matInput placeholder="Make.." formControlName="make">
      <mat-error *ngIf="formErrors.make">
        {{ formErrors.make }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Model</mat-label>
      <input matInput placeholder="Model..." formControlName="model">
      <mat-error *ngIf="formErrors.model">
        {{ formErrors.model }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Version</mat-label>
      <input matInput placeholder="Version..." formControlName="version">
      <mat-error *ngIf="formErrors.version">
        {{ formErrors.version }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Registration</mat-label>
      <input matInput placeholder="Registration..." formControlName="registration">
      <mat-error *ngIf="formErrors.registration">
        {{ formErrors.registration }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Bodystyle</mat-label>
      <mat-select placeholder="Select a Bodystyle..." formControlName="typeId">
        <mat-option *ngFor="let bodystyle of bodystyles" [value]="bodystyle.typeId">
          {{ bodystyle.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formErrors.typeId">
        {{ formErrors.typeId }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Purchase Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a purchase date" formControlName="purchaseDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formErrors.purchaseDate">
        {{ formErrors.purchaseDate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Ownership Period</mat-label>
      <input matInput placeholder="Ownership Period..." formControlName="ownershipPeriod">
      <mat-error *ngIf="formErrors.ownershipPeriod">
        {{ formErrors.ownershipPeriod }}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Purchase Price</mat-label>
      <input matInput placeholder="Purchase Price..." formControlName="purchasePrice">
      <mat-error *ngIf="formErrors.purchasePrice">
        {{ formErrors.purchasePrice }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Residual Value</mat-label>
      <input matInput placeholder="Residual Value..." formControlName="residualValue">
      <mat-error *ngIf="formErrors.residualValue">
        {{ formErrors.residualValue }}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="vehicleFrm.invalid">{{data.modalBtnTitle}}</button>
  </div>

</form>